<div class="row mt-4">
  <div class="col">
    <h1>Book Genre Details</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row pl-3">
  <div class="col">
    <p>
      <%= link_to "<< Return to Book Genres List", book_genres_path %>
    </p>
  </div>
</div>

<div class="row mt-n3">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h4>
      <%= @book_genre.genre.capitalize %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    Edit Book Genre
  </div>
</div>