<div class="row mt-4">
  <div class="col">
    <h1>All Books</h1>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <ul>
      <% @books.each do |book| %>
        <li>
          <% unless @author.nil? %>
            <%= link_to book.title, book_path(book, author_id: @author.id) %>
          <% else %>
            <%= link_to book.title, book_path(book) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <%= link_to "+ Add a New Book", new_book_path %>
  </div>
</div>